%div.jumbotron
  %div.container
    %div.row
      %div.col-sm-4
        = image_tag 'main-circle-img.png', :class => 'img-circle'
      %div.col-sm-8.welcome-header
        %h1 Tap Into the Power of Collective Thought
