%div.jumbotron
  %div.container
    %div.row
      %div.col-sm-4
        = image_tag 'main-circle-img.png', :class => 'img-circle'
      %div.col-sm-8.welcome-header
        %h1 Tap Into the Power of Collective Thought

%div.container
  %div.row
    %div.col-sm-6
      %h2 The Idea
      %p
        Vibe Tribe is a bit of a social experiment.  Recent research indicates that people can influence the physical world by harnessing the power of their collective thoughts.  Experiments have shown that when a large number of people concentrate their thoughts, they have been able to affect the output of random number generators.  One experiment even attempts to show that a group thought exercise was able to alter the energy of the Sun
      %p
      We want to make this platform available so that you can create a group (or vibe tribe) that people can join.  Once people have joined your tribe, they agree to "donate" their thoughts towards your cause.  We're not sure what is going to happen, but we hope that we can provide a medium through which people will collaborate to make the world a better place.
    %div.col-sm-6.welcome-video-div
      = image_tag 'http://placehold.it/400x260'
